.btn {
  display: inline-block;
  font-size: 0.889em;
  padding: 0.5rem 1.75rem;
  border-radius: 1.556rem;
  line-height: 1.56;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  transition: background-color 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: none;
  font-weight: bold;
  font-family: var(--base-font);
}

.btn__one {
  background-color: var(--black);
  color: white;
}

.btn__one:hover {
  background-color: var(--galatic-blue);
  color: white;
}

.btn__two {
  background-color: var(--light-red);
  color: white;
}

.btn__two:hover {
  background-color: var(--summer-yellow);
  color: white;
}
