.carousel__container {
  width: 100%;
  overflow: hidden;
}

.carousel__slides {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slide {
  flex: 0 0 33.333333%;
  margin: 1.5rem;
}

.slide > img {
  padding: 0.25rem;
  border-radius: 2.5rem;
  max-width: 100%;
  height: auto;
  display: block;
}
