.carousel__container {
  width: 100%;
  overflow: hidden;
}

.carousel__slides {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slide {
  flex: 0 0 33.333333%;
  margin: 1.5rem;
}

.slide > img {
  padding: 0.25rem;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  display: block;
}

.carousel__buttons {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Smartphone */
@media (max-width: 480px) {
  .slide {
    margin: 0.5rem;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .slide {
    margin: 0.5rem;
  }
}
