:root {
  /* Typography */
  --base-size: 18px;
  --h1: 3.111rem;
  --h2: 2.222rem;
  --h3: 1.778rem;

  /* Colors */
  --black: #030303;
  --medium-brown: #7a746e;
  --light-cream: #fff7f0;
  --galatic-blue: #755cde;
  --summer-yellow: #f6a560;
  --pink: #f39e9e;
  --light-red: #eb7565;
  --cyan: #61c4b7;
  --dark-purple: #552049;
}
